html, body {
  background: radial-gradient(#a4e5ff, #dfdfdf, rgb(245, 89, 89));
  background-size: 400% 400%;
  animation: bg-grad-animation 20s ease infinite;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

@keyframes bg-grad-animation {
  0% { background-position: 10% 10%; }
  25% { background-position: 100% 10%; }
  50% { background-position: 100% 100%; }
  75% { background-position: 10% 100%; }
  100% { background-position: 10% 10%; }
}

.web {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.web h1 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

@keyframes text-grad-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.web p {
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(to left, #ff0000, #ff9f55, #f3ff44, #1eff00, #002fff, #a200ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  background-clip: text;
  color: transparent;
  animation: text-grad-animation 0.1s ease infinite;
}



#pon { 
  text-decoration: none; 
  background: linear-gradient(to left, #ff0000, #ff9f55, #f3ff44, #1eff00, #002fff, #a200ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  background-clip: text;
  color: transparent;
  animation: text-grad-animation 0.1s ease infinite;
  font-size: 30px; 
  cursor: url(images/--1.gif), auto;
}

#poni { 
  
  text-decoration: none; 
  color: black;
  font-size: 30px; 
  cursor: url(images/cat.png), auto;
  background-color: #ff0000;
  display: block;
  width: 50px;
  height: 40px;
  border: 2px black solid;
}
